@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$primary-color: #C52525; 
$text-color: #000000; 
$grayish-white: #ddd;
$background-color: #F6F3F3; 
$border-color: #F6F3F3;
$hover-color: #d12c2f;

$font: "Roboto Flex", system-ui;